from selenium import webdriver
import logging
import os
import time

url = "https://www.ikm.internal/"
logfile = os.path.join(os.path.dirname(__file__), "firefox.log")
webdriver_path = "{{ geckodriver_path.stdout }}"

logging.basicConfig(
    filename=logfile,
    level=logging.INFO,
    format="%(asctime)s %(levelname)s:%(message)s",
    datefmt="%Y-%m-%d %H:%M:%S",
)

options = webdriver.FirefoxOptions()
options.add_argument("-headless")
# https://searchfox.org/mozilla-central/source/modules/libpref/init/StaticPrefList.yaml
options.set_preference("network.dns.native_https_query", True)
service = webdriver.FirefoxService(executable_path=webdriver_path)

try:
    driver = webdriver.Firefox(options=options, service=service)

    start_time = time.time()
    driver.get(url)
    end_time = time.time()

    response_time = end_time - start_time

    title = driver.title

    logging.info(f"Accessed {title} - {url} in {response_time:.2f}s")
except Exception as e:
    logging.error(f"Failed to access {url}: {e}")
finally:
    if driver:
        driver.quit()
