server {
    listen 443 ssl;
    server_name www.ikm.internal {{ hostvars['nginx']['interface_ip'] | default(hostvars['nginx']['ansible_host'], true) }};

    ssl_certificate     /etc/nginx/ssl/server.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    location / {
        root /usr/share/nginx/html;
        index index.html;
    }
}

server {
    listen 443 ssl default_server;

    ssl_certificate     /etc/nginx/ssl/server.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    location / {
        return 403;
    }
}
