$ORIGIN ikm.internal.
$TTL 345600

@	IN	SOA	ns1.ikm.internal. admin.ikm.internal. (
		2025031623
		28800
		7200
		864000
		345600
		)

	IN	NS	ns1.ikm.internal.

ns1	IN	A	{{ hostvars['knotdns']['ansible_host'] }}

www	IN	HTTPS	10	. (
		ipv4hint={{ hostvars['nginx']['ansible_host'] }}
		alpn=h3
		)
