all:
  hosts:
    knotdns:
      ansible_host:
      interface_ip: # サーバに設定されたIPアドレス (任意)
    knotres:
      ansible_host:
      interface_ip:
    nginx:
      ansible_host:
      interface_ip:
    client:
      ansible_host:
      interface_ip:
  vars:
    ansible_user:
    ansible_password:
    ansible_become_password:
    ansible_ssh_private_key_file:
    prob_user: # 競技者ログインユーザ (任意)
